html {
    font-family: "Cambria","Georgia","Times New Roman", serif !important;
}

.navbar {
    max-height: 50px;

    background-color: white;

    border-bottom: 1px solid #dedede;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
    margin: 0 0 12px !important;
    font-weight: 500 !important;

    font-family: "Cambria","Georgia","Times New Roman", serif !important;
}
h2 {
    font-size: 1.25rem !important;
    line-height: 1.625 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.content {
    /* Сумма отступов, для прибития футера к низу */
    min-height: calc(100vh - 198px);

    padding-top: 12px;
    padding-bottom: 60px;
}

.article,
.articles-list,
.article-editor {
    margin-left: auto;
    margin-right: auto;
}

.article-width {
    width: 600px;
}

.article-list-element {
    margin-bottom: 4rem;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: white;
}
.article-list-element-top {
    height: 24px;
}
.article-list-element-creation-date-time {
    color: #777;
    font-size: 1rem;
    line-height: 1rem;
}
.article-list-element-header {
    margin-bottom: 15px;

    cursor: pointer;

    transition: .2s ease-in-out;
}
.article-list-element-header:hover,
.article-list-element-continue-link:hover {
    color: #4c8eab;
}
.article-list-element-description {
    margin-top: 1rem;
}
.article-list-element-continue-link {
    margin-top: 1rem;

    cursor: pointer;
    font-size: 1rem;

    text-decoration: underline;
    transition: .2s ease-in-out;
}

.article,
.article-editor {
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: white;
}
.article-control-btns-wrap {
    text-align: right;
}
.article-control-btns-wrap Button {
    margin-left: 10px;
}
.article-header {
    width: 100%;

    margin-bottom: 15px;

    border: none;
}
.article-header:focus {
    outline: none;
}
.article-header::placeholder {
    color: rgba(0, 0, 0, .5);
}

.editor-spinner {
    color: rgba(0, 0, 0, .5);
}
.editor-navigate-to-article-btn {
    margin-left: 15px;
}

.exception-page-wrap {
    margin-left: auto;
    margin-right: auto;

    width: 800px;
    height: 560px;
    z-index: 1;
    font-family: Roboto, sans-serif;

    overflow: hidden;
}
.exception-page-text-wrap {
    text-align: center;
    padding-top: 70px;
    color: #cdd4de;
}
.exception-page-text-wrap h1 {
    font-weight: 900 !important;
    font-size: 165px !important;
    line-height: 1 !important;
    opacity: 0.6;
}
.exception-page-text-wrap h2 {
    font-weight: 700 !important;
    font-size: 34px !important;
    margin-bottom: 6px !important;
    opacity: 0.9;
}
.exception-page-header {
    margin-bottom: 30px !important;
}
.exception-page-back-to-home-link {
    display: inline-block;
    margin-top: 60px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.footer {
}
.footer-bottom {
    height: 48px;
    display: flex;

    color: white;
}
.footer-bottom_content {
    display: flex;

    margin-left: auto;
    margin-right: auto;
}
.footer-bottom_link {
    display: flex;

    color: #464e50;

    align-items: center;
    justify-content: center;
}
