html {
    background-color: #f0f0f0;
    font-family: Fira Sans,sans-serif;
}

.App {
    background-color: #f0f0f0;
}

.navbar {
    max-height: 50px;

    background-color: white;

    border-bottom: 1px solid #dedede;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.content,
.article,
.articles-list,
.article-editor {
    /* Сумма отступов, для прибития футера к низу */
    min-height: calc(100vh - 20px - 50px - 50px - 150px);
    margin: 12px auto 60px auto;
}

.article-width {
    width: 780px;
}

.articles-list {
    margin: 12px auto 60px auto;
}
.article-list-element {
    margin-bottom: 15px;
    padding: 16px 20px;

    background-color: white;
}
.article-list-element-header {
    font-size: 1.25rem;
    font-weight: 500;

    margin-bottom: 15px;

    cursor: pointer;

    transition: .2s ease-in-out;
}
.article-list-element-header:hover {
    color: #4c8eab;
}
.article-list-element-description {

}
.article-list-element-read-more-btn {
    margin-top: 18px;
}

.article,
.article-editor {
    /*margin-bottom: 15px;*/
    padding: 16px 20px;

    background-color: white;
}
.article-control-btns-wrap {
    text-align: right;
}
.article-control-btns-wrap Button {
    margin-left: 10px;
}
.article-header {
    width: 100%;

    margin-bottom: 15px;

    border: none;

    font-size: 34px;
    font-weight: bold;
}
.article-header:focus {
    outline: none;
}
.article-header::placeholder {
    color: rgba(0, 0, 0, .5);
}

.editor-spinner {
    color: rgba(0, 0, 0, .5);
}

.exception-page-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 1;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}
.exception-page-text-wrap {
    text-align: center;
    padding-top: 118px;
    color: #cdd4de;
}
.exception-page-text-wrap h1 {
    font-weight: 900;
    font-size: 165px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
}
.exception-page-text-wrap h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 6px;
    opacity: 0.9;
}
.exception-page-header {
    margin-bottom: 30px !important;
}
.exception-page-back-to-home-link {
    display: inline-block;
    margin-top: 100px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.footer {
}
.footer-top {
    min-height: 100px;

    background-color: #2c3135;
}
.footer-bottom {
    height: 48px;
    display: flex;

    color: white;

    background-color: #1d2023;
}
.footer-bottom_content {
    display: flex;

    margin-left: auto;
    margin-right: auto;
}
.footer-bottom_link {
    display: flex;

    color: #bdcdd6;

    align-items: center;
    justify-content: center;
}
